<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.wipro.testcases.TC01</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test1</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>open</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>close</td>
<td>&nbsp;</td></tr>
</table>
