<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cd7699">  <td>19/11/06 15:19:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC01.open()[pri:0, instance:com.wipro.testcases.TC01@4c309d4d]">&gt;&gt;open</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="cd7699">  <td>19/11/06 15:19:12</td>   <td>97</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test1()[pri:0, instance:com.wipro.testcases.TC01@4c309d4d]">test1</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="cd7699">  <td>19/11/06 15:19:12</td>   <td>105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test2()[pri:0, instance:com.wipro.testcases.TC01@4c309d4d]">test2</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="cd7699">  <td>19/11/06 15:19:12</td>   <td>111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test3()[pri:0, instance:com.wipro.testcases.TC01@4c309d4d]">test3</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="cd7699">  <td>19/11/06 15:19:12</td>   <td>117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test4()[pri:0, instance:com.wipro.testcases.TC01@4c309d4d]">test4</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="cd7699">  <td>19/11/06 15:19:12</td>   <td>121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test5()[pri:0, instance:com.wipro.testcases.TC01@4c309d4d]">test5</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="cd7699">  <td>19/11/06 15:19:12</td>   <td>125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test6()[pri:0, instance:com.wipro.testcases.TC01@4c309d4d]">test6</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="cd7699">  <td>19/11/06 15:19:12</td>   <td>129</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC01.close()[pri:0, instance:com.wipro.testcases.TC01@4c309d4d]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
