<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8872e1">  <td>19/11/06 15:21:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC02.AfterClass()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 15:22:32</td>   <td>54190</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC04.AfterClass()[pri:0, instance:com.wipro.testcases.TC04@11c9af63]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="9570b7">  <td>19/11/06 15:23:23</td>   <td>106084</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC05.AfterClass()[pri:0, instance:com.wipro.testcases.TC05@6bf0219d]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8872e1">  <td>19/11/06 15:20:35</td>   <td>-62294</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC02.BeforeClass()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 15:21:38</td>   <td>730</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC04.BeforeClass()[pri:0, instance:com.wipro.testcases.TC04@11c9af63]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8872e1">  <td>19/11/06 15:20:39</td>   <td>-58574</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test1()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">Test1</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 15:21:41</td>   <td>3902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test1()[pri:0, instance:com.wipro.testcases.TC04@11c9af63]">Test1</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8872e1">  <td>19/11/06 15:21:02</td>   <td>-35870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test2()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">Test2</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 15:21:49</td>   <td>12087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test2()[pri:0, instance:com.wipro.testcases.TC04@11c9af63]">Test2</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8872e1">  <td>19/11/06 15:21:06</td>   <td>-31694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test3()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">Test3</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 15:21:54</td>   <td>16440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test3()[pri:0, instance:com.wipro.testcases.TC04@11c9af63]">Test3</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8872e1">  <td>19/11/06 15:21:09</td>   <td>-28803</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test4()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">Test4</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 15:21:57</td>   <td>19803</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test4()[pri:0, instance:com.wipro.testcases.TC04@11c9af63]">Test4</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8872e1">  <td>19/11/06 15:21:16</td>   <td>-21879</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test5()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">Test5</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 15:22:03</td>   <td>25413</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test5()[pri:0, instance:com.wipro.testcases.TC04@11c9af63]">Test5</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8872e1">  <td>19/11/06 15:21:20</td>   <td>-17779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test6()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">Test6</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 15:22:05</td>   <td>27962</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test6()[pri:0, instance:com.wipro.testcases.TC04@11c9af63]">Test6</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8872e1">  <td>19/11/06 15:21:22</td>   <td>-15059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test7()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">Test7</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 15:22:21</td>   <td>43909</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test7()[pri:0, instance:com.wipro.testcases.TC04@11c9af63]">Test7</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8872e1">  <td>19/11/06 15:21:28</td>   <td>-9503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test8()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">Test8</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 15:22:25</td>   <td>48028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test8()[pri:0, instance:com.wipro.testcases.TC04@11c9af63]">Test8</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8872e1">  <td>19/11/06 15:21:32</td>   <td>-5289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test9()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">Test9</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="cd7699">  <td>19/11/06 15:19:56</td>   <td>-101056</td> <td title="&gt;&gt;BaseClass.befsuite()[pri:0, instance:com.wipro.base.BaseClass@3cc1435c]">&gt;&gt;befsuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 15:20:34</td>   <td>-63088</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC01.close()[pri:0, instance:com.wipro.testcases.TC01@1dac5ef]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 15:19:56</td>   <td>-101027</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC01.open()[pri:0, instance:com.wipro.testcases.TC01@1dac5ef]">&gt;&gt;open</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="9570b7">  <td>19/11/06 15:22:32</td>   <td>54838</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC05.open()[pri:0, instance:com.wipro.testcases.TC05@6bf0219d]">&gt;&gt;open</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 15:20:01</td>   <td>-96175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test1()[pri:0, instance:com.wipro.testcases.TC01@1dac5ef]">test1</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="9570b7">  <td>19/11/06 15:22:36</td>   <td>58269</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.test1()[pri:0, instance:com.wipro.testcases.TC05@6bf0219d]">test1</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 15:20:15</td>   <td>-82410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test2()[pri:0, instance:com.wipro.testcases.TC01@1dac5ef]">test2</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="9570b7">  <td>19/11/06 15:22:51</td>   <td>73788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.test2()[pri:0, instance:com.wipro.testcases.TC05@6bf0219d]">test2</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 15:20:21</td>   <td>-76421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test3()[pri:0, instance:com.wipro.testcases.TC01@1dac5ef]">test3</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="9570b7">  <td>19/11/06 15:22:57</td>   <td>79557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.test3()[pri:0, instance:com.wipro.testcases.TC05@6bf0219d]">test3</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 15:20:24</td>   <td>-73229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test4()[pri:0, instance:com.wipro.testcases.TC01@1dac5ef]">test4</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="9570b7">  <td>19/11/06 15:22:57</td>   <td>79997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.test4()[pri:0, instance:com.wipro.testcases.TC05@6bf0219d]">test4</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 15:20:29</td>   <td>-68521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test5()[pri:0, instance:com.wipro.testcases.TC01@1dac5ef]">test5</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="9570b7">  <td>19/11/06 15:23:01</td>   <td>83274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.test5()[pri:0, instance:com.wipro.testcases.TC05@6bf0219d]">test5</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 15:20:29</td>   <td>-68038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test6()[pri:0, instance:com.wipro.testcases.TC01@1dac5ef]">test6</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="9570b7">  <td>19/11/06 15:23:02</td>   <td>84989</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.test6()[pri:0, instance:com.wipro.testcases.TC05@6bf0219d]">test6</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="9570b7">  <td>19/11/06 15:23:04</td>   <td>86675</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.test7()[pri:0, instance:com.wipro.testcases.TC05@6bf0219d]">test7</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="9570b7">  <td>19/11/06 15:23:19</td>   <td>101312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.test8()[pri:0, instance:com.wipro.testcases.TC05@6bf0219d]">test8</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="9570b7">  <td>19/11/06 15:23:21</td>   <td>103402</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.test9()[pri:0, instance:com.wipro.testcases.TC05@6bf0219d]">test9</td> 
  <td>main@963815509</td>   <td></td> </tr>
</table>
