<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cd7699">  <td>19/11/06 15:19:56</td>   <td>0</td> <td title="&gt;&gt;BaseClass.befsuite()[pri:0, instance:com.wipro.base.BaseClass@3cc1435c]">&gt;&gt;befsuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 15:19:56</td>   <td>29</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC01.open()[pri:0, instance:com.wipro.testcases.TC01@1dac5ef]">&gt;&gt;open</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 15:20:01</td>   <td>4881</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test1()[pri:0, instance:com.wipro.testcases.TC01@1dac5ef]">test1</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 15:20:15</td>   <td>18646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test2()[pri:0, instance:com.wipro.testcases.TC01@1dac5ef]">test2</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 15:20:21</td>   <td>24635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test3()[pri:0, instance:com.wipro.testcases.TC01@1dac5ef]">test3</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 15:20:24</td>   <td>27827</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test4()[pri:0, instance:com.wipro.testcases.TC01@1dac5ef]">test4</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 15:20:29</td>   <td>32535</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test5()[pri:0, instance:com.wipro.testcases.TC01@1dac5ef]">test5</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 15:20:29</td>   <td>33018</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test6()[pri:0, instance:com.wipro.testcases.TC01@1dac5ef]">test6</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 15:20:34</td>   <td>37968</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC01.close()[pri:0, instance:com.wipro.testcases.TC01@1dac5ef]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8872e1">  <td>19/11/06 15:20:35</td>   <td>38762</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC02.BeforeClass()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8872e1">  <td>19/11/06 15:20:39</td>   <td>42482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test1()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">Test1</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8872e1">  <td>19/11/06 15:21:02</td>   <td>65186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test2()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">Test2</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8872e1">  <td>19/11/06 15:21:06</td>   <td>69362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test3()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">Test3</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8872e1">  <td>19/11/06 15:21:09</td>   <td>72253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test4()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">Test4</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8872e1">  <td>19/11/06 15:21:16</td>   <td>79177</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test5()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">Test5</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8872e1">  <td>19/11/06 15:21:20</td>   <td>83277</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test6()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">Test6</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8872e1">  <td>19/11/06 15:21:22</td>   <td>85997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test7()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">Test7</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8872e1">  <td>19/11/06 15:21:28</td>   <td>91553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test8()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">Test8</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8872e1">  <td>19/11/06 15:21:32</td>   <td>95767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test9()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">Test9</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8872e1">  <td>19/11/06 15:21:37</td>   <td>101056</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC02.AfterClass()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 15:21:38</td>   <td>101786</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC04.BeforeClass()[pri:0, instance:com.wipro.testcases.TC04@11c9af63]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 15:21:41</td>   <td>104958</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test1()[pri:0, instance:com.wipro.testcases.TC04@11c9af63]">Test1</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 15:21:49</td>   <td>113143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test2()[pri:0, instance:com.wipro.testcases.TC04@11c9af63]">Test2</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 15:21:54</td>   <td>117496</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test3()[pri:0, instance:com.wipro.testcases.TC04@11c9af63]">Test3</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 15:21:57</td>   <td>120859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test4()[pri:0, instance:com.wipro.testcases.TC04@11c9af63]">Test4</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 15:22:03</td>   <td>126469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test5()[pri:0, instance:com.wipro.testcases.TC04@11c9af63]">Test5</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 15:22:05</td>   <td>129018</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test6()[pri:0, instance:com.wipro.testcases.TC04@11c9af63]">Test6</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 15:22:21</td>   <td>144965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test7()[pri:0, instance:com.wipro.testcases.TC04@11c9af63]">Test7</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 15:22:25</td>   <td>149084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test8()[pri:0, instance:com.wipro.testcases.TC04@11c9af63]">Test8</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 15:22:32</td>   <td>155246</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC04.AfterClass()[pri:0, instance:com.wipro.testcases.TC04@11c9af63]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="9570b7">  <td>19/11/06 15:22:32</td>   <td>155894</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC05.open()[pri:0, instance:com.wipro.testcases.TC05@6bf0219d]">&gt;&gt;open</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="9570b7">  <td>19/11/06 15:22:36</td>   <td>159325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.test1()[pri:0, instance:com.wipro.testcases.TC05@6bf0219d]">test1</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="9570b7">  <td>19/11/06 15:22:51</td>   <td>174844</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.test2()[pri:0, instance:com.wipro.testcases.TC05@6bf0219d]">test2</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="9570b7">  <td>19/11/06 15:22:57</td>   <td>180613</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.test3()[pri:0, instance:com.wipro.testcases.TC05@6bf0219d]">test3</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="9570b7">  <td>19/11/06 15:22:57</td>   <td>181053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.test4()[pri:0, instance:com.wipro.testcases.TC05@6bf0219d]">test4</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="9570b7">  <td>19/11/06 15:23:01</td>   <td>184330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.test5()[pri:0, instance:com.wipro.testcases.TC05@6bf0219d]">test5</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="9570b7">  <td>19/11/06 15:23:02</td>   <td>186045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.test6()[pri:0, instance:com.wipro.testcases.TC05@6bf0219d]">test6</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="9570b7">  <td>19/11/06 15:23:04</td>   <td>187731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.test7()[pri:0, instance:com.wipro.testcases.TC05@6bf0219d]">test7</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="9570b7">  <td>19/11/06 15:23:19</td>   <td>202368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.test8()[pri:0, instance:com.wipro.testcases.TC05@6bf0219d]">test8</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="9570b7">  <td>19/11/06 15:23:21</td>   <td>204458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.test9()[pri:0, instance:com.wipro.testcases.TC05@6bf0219d]">test9</td> 
  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="9570b7">  <td>19/11/06 15:23:23</td>   <td>207140</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC05.AfterClass()[pri:0, instance:com.wipro.testcases.TC05@6bf0219d]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963815509</td>   <td></td> </tr>
</table>
